extends layout

block content
  h1 Crear un nuevo usuario
  form(method='post')
    if error
      div.error
        | Error: #{error}
    div.question
      | Ingrese su nombre completo:
      input(name='name', pattern='^[A-Za-zÁ-Úá-úÜüÑñ ]+ [A-Za-zá-úÜüÑñ ]+$')#name
    div.question
      | Ingrese el nombre de usuario:
      input(name='username', pattern='^[a-z0-9_][a-z0-9._]{5,13}[a-z0-9_]$')#username
      ul.suggestion
        if suggestions !== null
          each item in suggestions
            li(onclick!='document.getElementById(`username`).value = this.innerText')= item
      div.minitext
        | El nombre de usuario debe contener entre 7 y 15 caracteres
        | alfanuméricos, guión bajo o punto
    div.question
      | Ingrese su contraseña:
      input(name='password', type='password')#password
    input(type='submit')
